$gray-00: #FFF;
$gray-50: #F2F4F5;
$gray-100: #E4E7E9 ;
$gray-500: #77878F;
$gray-600: #5F6C72;
$gray-700: #475156;
$gray-900: #191C1F;

$primary-500: #FA8232;

$secondary-500: #2DA5F3;
$secondary-700: #1B6392;


$blue-500: #2DA5F3;

$warning-200: #F7E99E;
$warning-300: #F3DE6D;
$warning-500: #EBC80C;

$pure-black: #000;

$danger-600: #BE4646;


$blue-banner-bg: #124261;
